input[type="date"] {
    background-color: #242f35;
    padding: 15px;
    border-radius: 0.6rem;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    /* top: 50%; */
    /* left: 50%; */
    /* font-family: "Roboto Mono", monospace; */
    color: hsl(var(--bc));
    /* font-size: 18px; */
    border: none;
    outline: none;
    /* border-radius: 5px; */
}

::-webkit-calendar-picker-indicator {
    background-color: #1c2429;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}